@model List<BookCave.Models.ViewModels.AuthorListViewModel>
<h1>Front page</h1>

<div>
    @foreach(var author in @Model)
    {
        <div class="col-lg-2 cl-md-2 col-sm-3 col-xs-6 text-center">
            <a asp-controller="Author" asp-action="Details" asp-route-id="@author.Id">@author.Name</a><br>
        </div>
    }
</div>
