@model BookCave.Models.InputModels.InputCommentModel
<h1>Skrá inn umsögn</h1>
<div class="col-lg-4 cl-md-4 col-sm-3 col-xs-6 text-center">
    <div class="jumbotron">
        <form method="POST" asp-controller="Account" asp-action="AddComment">
            <div class="form-group">
                <label asp-for="BookComment"></label>
                <input asp-for="BookComment" class="form-control">
                <span asp-validation-for="BookComment"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating"></label>
                <input asp-for="Rating" class="form-control">
                <span asp-validation-for="Rating"></span>
            </div>
            <button type="submit" class="btn btn-default">Skrá umsögn</button>
        </form>
    </div>
</div>