@model List<BookCave.Models.ViewModels.OrderListViewModel>

<h1>Pantanir</h1>
<div class="container">
    <div class="row"></div>
        @foreach(var order in @Model)
        {
            <div class="col-lg-2 cl-md-2 col-sm-3 col-xs-6 text-center">
                <input type="button" class="btn btn-default" value="Order: @order.Id" onclick="orderDetails(@order.Id)">
                <p>Total price: @order.Total</p>
                <p>Paid date: @order.PaidDate</p>
            </div>
            <br>
        }
    </div>
</div>