

<h1>Yfirlit pöntunar</h1>
<div class="jumbotron">

</div>

<div class="form-group">
    <button class="btn btn-default"><a asp-controller="Account" asp-action="Checkout">Halda áfram</a></button>
</div>
<div class="form-group">
    <button class="btn btn-default"><a asp-controller="Account" asp-action="Cart">Til baka</a></button>
</div>