@model BookCave.Models.InputModels.AuthorInputModel
<h1>Bæta við höfund</h1>

<div class="jumbotron">
    <form method="POST" asp-controller="Employee" asp-action="AddAuthor">
        <div class="form-group">
            <label asp-for="Name">Nafn</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
          <label asp-for="Description">Lýsing</label>
          <input asp-for="Description" class="form-control">
          <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image">Mynd</label>
            <input asp-for="Image" class="form-control">
            <span asp-validation-for="Image"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Vista breytingar</button>
        </div>
    </form>
    <a asp-controller="Employee" asp-action="Index"><button class="btn btn-info">Til baka</button></a>

</div>
