@model BookCave.Models.InputModels.InputBookModel
<h1>Breyta bók</h1>

<div class="jumbotron">
    <form method="POST" asp-controller="Employee" asp-action="ChangeBook">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="AuthorId">Höfundur</label>
            <select asp-for="AuthorId">
                <option value="3">Harper Lee</option>
                <option value="1">Patrick Rothfuss</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Publisher"></label>
            <input asp-for="Publisher" class="form-control">
            <span asp-validation-for="Publisher"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Flokkur</label>
            <select asp-for="CategoryId">
                <option value="3">Vísindaskáldskapur</option>
                <option value="1">Fantasía</option>
            </select>
        </div>

        <input type="checkbox" name="Paperback" value="Paperback"> Kilja
        <input type="checkbox" name="Ebook" value="Ebook"> Rafbók
        <input type="checkbox" name="Audio" value="Audio"> Hljóðbók

        <div class="form-group">
            <label asp-for="Stock"></label>
            <input asp-for="Stock" class="form-control">
            <span asp-validation-for="Stock"></span>
        </div>
        <div class="form-group">
            <label asp-for="Pages"></label>
            <input asp-for="Pages" class="form-control">
            <span asp-validation-for="Pages"></span>
        </div>
        <div class="form-group">
            <label asp-for="Minutes"></label>
            <input asp-for="Minutes" class="form-control">
            <span asp-validation-for="Minutes"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input type="textbox" asp-for="Description" class="form-control">
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input type="textbox" asp-for="Price" class="form-control">
            <span asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <button type="submit">Vista breytingar</button>
        </div>
    </form>
</div>