<h1>Innranet</h1>

<div>
    <h2>Bækur</h2>
    <button><a asp-controller="Employee" asp-action="Books">Skoða</a></button>
    <button><a asp-controller="Employee" asp-action="AddBook">Bæta við</a></button>
</div>

<div>
    <h2>Höfundar</h2>
    <button><a asp-controller="Employee" asp-action="Authors">Skoða</a></button>
    <button>Bæta við</button>
</div>

<div>
    <h2>Flokkar</h2>
    <button> <a asp-controller="Employee" asp-action="Categories">Skoða</a></button>
    <button>Bæta við</button>
</div>

<div>
    <h2>Sölutölur</h2>
    <button><a asp-controller="Employee" asp-action="Sales">Skoða</a></button>
</div>