<h1>Innranet</h1>

<div>
    <h2>Bækur</h2>
    <a asp-controller="Employee" asp-action="Books"><button class="btn btn-info">Skoða</button></a>
    <a asp-controller="Employee" asp-action="AddBook"><button class="btn btn-info">Bæta við</button></a>
</div>

<div>
    <h2>Höfundar</h2>
    <a asp-controller="Employee" asp-action="Authors"><button class="btn btn-info">Skoða</button></a>
    <a asp-controller="Employee" asp-action="AddAuthor"><button class="btn btn-info">Bæta við</button></a>
</div>

<div>
    <h2>Flokkar</h2>
    <a asp-controller="Employee" asp-action="Categories"><button class="btn btn-info">Skoða</button></a>
    <a asp-controller="Employee" asp-action="AddCategory"><button class="btn btn-info">Bæta við</button></a>
</div>

<div>
    <h2>Sölutölur</h2>
    <a asp-controller="Employee" asp-action="Sales"><button class="btn btn-info">Skoða</button></a>
</div>