<h1>Sölutölur</h1>
<p>Heildarmagn bóka selt: @ViewBag.TotalAmount</p>
<p>Heildarsala síðunnar :@ViewBag.TotalPrice $</p>
<a asp-controller="Employee" asp-action="Index"><button class="btn btn-info">Til baka</button></a>
