<h1>The Book Cave</h1>
<h3>Hvað er The Book Cave</h3>
<p>
    The Book Cave er vefverslun sem sérhæfir sig í bókum af öllum stærðum og gerðum.
    Við höfum mikið úrval og gott verð á bókum auk þess að hafa óvenju mikið úrval af
    vef og hljóðbókum.
</p>
<h3>Hvar geturðu haft samband við okkur?</h3>
<p>
    Okkar eina verslun er á netinu og er einnig auðveldast að hafa samband við okkur í gegnum það.
    Við mælum með að kíkja á <a href="Contact">Hafa samband</a> liðinn okkar og eru allar helstu sambands
    upplýsingar okkar að finna þar.
</p>