<h1>The Book Cave</h1>
<h2>Algengar Spurningar</h2>
<h3>Q: Hvað get ég keypt hér?</h3>
<p>A: Bækur augljóslega</p>
<h3>Q: Hvernig get ég haft samband ef eitthvað er að?</h3>
<p>A: Hafa samband hnappurinn í fótnum á síðunni er góður fyrir slíkt.</p>
<h3>Q: Ég get ekki fundið einhverja bók.</h3>
<p>
    A: Það er leiðinlegt að heyra, ef bókin er ekki á síðunni eigum við hana því miður ekki til
    Þú gætir skoðað væntanlegar bækur síðuna kannski er hún bara ekki gefin út ennþá.
</p>