@model List<BookCave.Models.ViewModels.BookListViewModel>
<h1>Forsíða</h1>
        <li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Raða eftir <span class="caret"></span></a>
<ul class="dropdown-menu" id="list-menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="Stafrodsrod">Stafrófsröð</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="VerdLH">Verð lægra til hærra</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="VerdHL">Verð hærra til lægra</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="Einkunn">Einkunn</a></li>
                </ul>
        </li>
<div class="container">
    <div class="row"></div>
        @foreach(var book in @Model)
        {
            <div class="col-lg-2 cl-md-2 col-sm-3 col-xs-6 text-center">
                <img src="@book.Image"  height="200" width="120" /><br>
                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Title</a><br>
                @book.Price $
            </div>
        }
    </div>
</div>