<h1>Front page</h1>
<div class="jumbotron">
    <ul class="list-inline">
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
    </ul>
</div>