<<<<<<< HEAD
﻿<h1>Forsíða</h1>
=======
﻿<h1>Front page</h1>
<div class="jumbotron">
    <ul class="list-inline">
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
        <li class="list-inline-item">Book</li>
    </ul>
</div>
>>>>>>> adf290040af8149de98bb73c88c69b157465a3f4
