@using Microsoft.AspNetCore.Identity
@using BookCave.Models
@using BookCave.Data

@inject SignInManager<ApplicationUser> SignInManager

@if(User.IsInRole("User"))
{
    <form method="POST" asp-action="Logout" asp-controller="Account">
        <ul class="nav navbar-nav navbar-right">
            <li><button type="submit" class="btn btn-link navbar-btn navbar-link">Útskráning</button></li>
            <li><a asp-controller="Account" asp-action="MyAccount">Notenda síða <span class="glyphicon glyphicon-user"></span></a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Cart">Karfa <span class="glyphicon glyphicon-shopping-cart"></span></a></li>
        </ul>
    </form>
}
else if(User.IsInRole("Employee"))
{
    <form method="POST" asp-action="Logout" asp-controller="Account">
        <ul class="nav navbar-nav navbar-right">
            <li><button type="submit" class="btn btn-link navbar-btn navbar-link">Útskráning</button></li>
            <li><a asp-controller="Employee" asp-action="Index">Innranet <span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Nýskráning</a></li>
        <li><a asp-controller="Account" asp-action="Login">Innskráning <span class="glyphicon glyphicon-user"></span></a></li>
    </ul>
}